.modal-wide .modal-dialog {
    width: 90%;
}

#image_wrapper {
    padding: 45px 0 10px;
}

#img {
    position: relative;
    z-index: 1;
}

img {
    border: 0;
}

#image {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    background-image: url(../iconos/background.gif);
}

#svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: inline-block;
}

@media (max-width:768px) {
    .modal-wide .modal-dialog {
        width: 99%;
    }
}
