* {
    margin:0px;
    padding:0px;
  }
  body {
    background:#ddd;
    font-family:"Raleway";
  }
  .center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .flex-center {
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .list-group {
    width:450px;
    background:#f5f5f5;
  }
  .list-group .list-group-item {
    display:flex;
    border-bottom:1px solid #ccc;
  }
  .list-group .list-group-item > div {
    padding:15px 0px;
  }
  .list-group .list-group-item .handle {
    width:50px;
    background:#eee;
    border:1px solid #ddd;
    cursor:pointer;
  }
  .list-group .list-group-item .handle i.fa {
    color:#555;
  } 
  .list-group .list-group-item .handle:hover i.fa {
    color:#111;
  }
  .list-group .list-group-item .thumbnail {
    padding:0px 10px;
  }
  .list-group .list-group-item .thumbnail img {
    width:50px;
    border-radius:50%;
  }
  .list-group .list-group-item .details {
    flex:1;
  }
  .list-group .list-group-item .details h2 {
    font-size:16px;
    color:#111;
    padding:0px 5px 3px;
  }
  .list-group .list-group-item .details p {
    color:#555;
    font-size:14px;
    padding:0px 7px;
  }
  .list-group .list-group-item .btn {
    width:50px;
  }
  .list-group .list-group-item .btn i.fa {
    color:#aaa;
  }
  .list-group .list-group-item .btn:hover i.fa {
    color:#00acee;
  }


  table {
    width:450px;
    background:#f5f5f5;
  }
  table tbody tr {
    cursor: move;
  }
  table tbody tr.row-field td:first-child{
    text-align: center;
  }
  table tbody tr.row-field td{
    padding: 5px;
    color: #555555;
    border-left: 0;
    border-bottom: 1px solid #CCCCCC !important;
  }

  h2 {
    font-size: 16px;
    color: #111;
    padding: 0px 5px 3px;
  }

  p {
    color: #555;
    font-size: 14px;
    padding: 0px 7px;
  }

  .ramos {
    cursor: move;
    background-color: #FFFFFF;
  }